.projects-section {
    padding: 120px 20px;
}

.projects-container {
    max-width: 1280px;
    margin: auto;
}


/* all project wrapper */
.all-projects-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.all-projects-btn {
    padding: 14px 28px;

    border-radius: 14px;

    background: linear-gradient(135deg,
            #6366f1,
            #8b5cf6);

    color: white;
    text-decoration: none;

    font-weight: 600;

    transition: all .3s ease;
}

.all-projects-btn:hover {
    transform: translateY(-5px);

    box-shadow:
        0 15px 40px rgba(99, 102, 241, .3);
}

/* Heading */

.projects-heading {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.projects-heading span {
    color: #6366f1;
    font-weight: 600;
}

.projects-heading h2 {
    color: white;
    font-size: 3rem;
    margin: 15px 0;
}

.projects-heading p {
    color: #94a3b8;
    line-height: 1.8;
}

/* Featured */

.featured-project {
    margin-top: 70px;

    display: grid;
    grid-template-columns: 1.2fr 1fr;

    gap: 40px;

    background: rgba(255, 255, 255, 0.03);

    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 24px;

    overflow: hidden;
}

.featured-image {
    overflow: hidden;
}

.featured-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: .4s;
}

.featured-project:hover img {
    transform: scale(1.05);
}

.featured-content {
    padding: 40px;
}

.featured-badge {
    display: inline-block;

    padding: 8px 14px;

    border-radius: 30px;

    background: rgba(99, 102, 241, .15);

    color: #6366f1;

    margin-bottom: 20px;
}

.featured-content h3 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.featured-content p {
    color: #94a3b8;
    line-height: 1.8;
}

.tech-stack {
    margin-top: 25px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-stack span {
    background: rgba(255, 255, 255, .05);

    padding: 8px 14px;

    border-radius: 50px;

    color: #cbd5e1;
}

.project-buttons {
    display: flex;
    gap: 15px;

    margin-top: 30px;

    flex-wrap: wrap;
}

.project-buttons a {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 12px 20px;

    border-radius: 12px;

    background: #6366f1;

    color: white;

    transition: .3s;
}

.project-buttons a:hover {
    transform: translateY(-3px);
}

/* Cards */

.project-grid {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.project-card {
    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 20px;

    overflow: hidden;

    transition: .35s ease;
}

.project-card:hover {
    transform: translateY(-10px);

    border-color: rgba(99, 102, 241, .4);

    box-shadow:
        0 10px 30px rgba(99, 102, 241, .12);
}

.project-card img {
    width: 100%;
    height: 220px;

    object-fit: cover;

    transition: .4s ease;
}

.project-card:hover img {
    transform: scale(1.08);
}

.card-content {
    padding: 25px;
}

.card-content h3 {
    color: white;
    margin-bottom: 12px;
}

.card-content p {
    color: #94a3b8;
    line-height: 1.7;
}

/* Tablet */

@media (max-width: 992px) {

    .featured-project {
        grid-template-columns: 1fr;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */

@media (max-width: 768px) {

    .projects-section {
        padding: 80px 20px;
    }

    .projects-heading h2 {
        font-size: 2rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .featured-content {
        padding: 25px;
    }

    .featured-content h3 {
        font-size: 1.5rem;
    }
}