.contact-section {
    padding: 120px 20px;
}

.contact-container {
    max-width: 1280px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1.2fr;

    gap: 50px;
}

/* Left */

.contact-tag {
    display: inline-block;

    padding: 10px 18px;

    border-radius: 50px;

    background: rgba(99, 102, 241, .1);

    color: #6366f1;

    margin-bottom: 20px;
}

.contact-info h2 {
    color: white;

    font-size: 2.5rem;

    margin-bottom: 20px;
}

.contact-info p {
    color: #94a3b8;

    line-height: 1.8;
}

.info-card {
    margin-top: 25px;

    display: flex;
    gap: 15px;

    align-items: center;

    padding: 20px;

    border-radius: 18px;

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .08);
}

.info-card svg {
    font-size: 1.5rem;

    color: #6366f1;
}

.info-card h4 {
    color: white;
}

.social-icons {
    display: flex;
    gap: 15px;

    margin-top: 35px;
}

.social-icons a {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: rgba(255, 255, 255, .05);

    color: white;

    transition: .3s;
}

.social-icons a:hover {
    background: #6366f1;

    transform: translateY(-5px);
}

/* Form */

.contact-form {
    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 24px;

    padding: 35px;
}

.form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    padding: 16px;

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 14px;

    background: rgba(255, 255, 255, .03);

    color: white;

    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #6366f1;
}

.contact-form button {
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 14px;

    background: linear-gradient(135deg,
            #6366f1,
            #8b5cf6);

    color: white;

    cursor: pointer;

    transition: .3s;
}

.contact-form button:hover {
    transform: translateY(-3px);
}

/* Responsive */

@media (max-width: 992px) {

    .contact-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {

    .contact-section {
        padding: 80px 20px;
    }

    .contact-info h2 {
        font-size: 2rem;
    }

    .contact-form {
        padding: 25px;
    }
}