.about-preview {
    padding: 100px 20px;
}

.about-container {
    max-width: 1280px;
    margin: auto;

    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: center;
}

.section-tag {
    display: inline-block;

    padding: 10px 18px;

    border-radius: 50px;

    color: #6366f1;

    background: rgba(99, 102, 241, 0.1);

    margin-bottom: 20px;
}

.about-content h2 {
    font-size: 3rem;
    line-height: 1.2;

    color: white;

    margin-bottom: 20px;
}

.about-content p {
    color: #94a3b8;

    line-height: 1.8;

    margin-bottom: 20px;
}

.about-btn {
    display: inline-block;

    padding: 14px 28px;

    background: linear-gradient(135deg,
            #6366f1,
            #8b5cf6);

    color: white;

    text-decoration: none;

    border-radius: 12px;

    transition: .3s ease;
}

.about-btn:hover {
    transform: translateY(-4px);

    box-shadow:
        0 10px 30px rgba(99, 102, 241, .3);
}

/* Stats Grid */

.stats-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
}

.stat-card {
    padding: 30px;

    background: #0f172a;

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 20px;

    transition: .35s ease;

    cursor: pointer;
}

.stat-card:hover {
    transform: translateY(-10px);

    border-color: rgba(99, 102, 241, .6);

    box-shadow:
        0 10px 30px rgba(99, 102, 241, .15),
        0 0 20px rgba(99, 102, 241, .08);
}

.stat-card svg {
    font-size: 2rem;

    color: #6366f1;

    margin-bottom: 15px;

    transition: .3s;
}

.stat-card:hover svg {
    transform: scale(1.15);
}

.stat-card h3 {
    font-size: 2rem;

    color: white;

    margin-bottom: 10px;

    transition: .3s;
}

.stat-card:hover h3 {
    color: #6366f1;
}

.stat-card p {
    color: #94a3b8;
}

/* Tablet */

@media (max-width: 992px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-content {
        text-align: center;
    }
}

/* Mobile */

@media (max-width: 768px) {

    .about-preview {
        padding: 80px 20px;
    }

    .about-content h2 {
        font-size: 2.2rem;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }
}